<%= bootstrap_form_for(@punch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.text_field :comment, class: 'form-control', placeholder: @comment %>

  <h4>Time worked: <small><%= @pretty_time %></small></h4>

  <%= f.datetime_select :time_in, { ampm: true, order: [:day, :month, :year], class: "form-control" } %>

  <%= f.datetime_select :time_out, { ampm: true, order: [:day, :month, :year], class: "form-control" } %>

  <%= f.submit "Save task" %>
<% end %>
