<% provide(:title, "Project") %>
<div class="row">
  <aside class="col-sm-4">
    <section class="project_info">
      <%= render 'shared/project_info' %>
    </section>
  </aside>
  <div class="col-sm-4">
    <section class="punch_in_form">
      <%= render 'shared/punch_in_form' %>
    </section>
    <% if @punches.any? %>
      <%= will_paginate @punches, previous_label: '<', next_label: '>' %>

      <div class="list-group">
        <%= render @punches %>
      </div>

      <%= will_paginate @punches, previous_label: '<', next_label: '>' %>
    <% end %>
  </div>
</div>
