<% provide(:title, "Project") %>
<div class="row">
    <section class="project_info">
      <%= render 'shared/project_info' %>
    </section>
    <% if @ready %>
      <section class="punch_in_form">
        <%= render 'shared/punch_in_form' %>
      </section>
    <% end %>
    <div class="container text-center">
      <% if @punches.any? %>
        <%= will_paginate @punches, previous_label: '<', next_label: '>' %>

        <div class="list-group">
          <%= render @punches %>
        </div>

        <%= will_paginate @punches, previous_label: '<', next_label: '>' %>
      <% end %>
  </div>
</div>
